workflows/transfer-workflow.json
{
  "name": "Call Transfer to Consultant Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "vapi-transfer",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "transfer-webhook",
      "name": "Transfer Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract transfer data from Vapi webhook\nconst data = $input.first().json;\n\nreturn {\n  customer_id: data.customer_id,\n  call_id: data.call_id,\n  call_sid: data.call_sid,\n  customer_phone: data.customer_phone,\n  company_name: data.company_name,\n  transfer_reason: data.reason || 'consultant_requested',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "extract-transfer-data",
      "name": "Extract Transfer Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Calls/{{$json.call_sid}}.json",
        "options": {
          "headers": {
            "Authorization": "Basic {{$env.TWILIO_AUTH_TOKEN}}"
          },
          "body": {
            "Twiml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\">Transferring you to our consultant now. Please hold on.</Say><Dial timeout=\"30\"><Number>{{$env.CONSULTANT_PHONE}}</Number></Dial></Response>"
          }
        }
      },
      "id": "transfer-call",
      "name": "Transfer Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://your-app.com/api/v1/calls/{{$json.call_id}}",
        "options": {
          "headers": {
            "X-API-Key": "{{$env.RAILS_API_KEY}}",
            "Content-Type": "application/json"
          },
          "body": {
            "statu": "TRANSFERRED_TO_CONSULTANT",
            "comment": "Transferred to consultant via Vapi - {{$json.transfer_reason}}",
            "transfer_completed_at": "{{$json.timestamp}}"
          }
        }
      },
      "id": "update-call-status",
      "name": "Update Call Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://your-app.com/notifications",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "token": "{{$env.CONSULTANT_DEVICE_TOKEN}}",
            "telephone": "{{$json.customer_phone}}",
            "message": "Incoming transfer from {{$json.company_name}} - {{$json.transfer_reason}}"
          }
        }
      },
      "id": "notify-consultant",
      "name": "Notify Consultant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Log the transfer completion\nconst transferData = $input.first().json;\nconsole.log(`Transfer completed for ${transferData.company_name} (${transferData.customer_phone})`);\nconsole.log(`Reason: ${transferData.transfer_reason}`);\n\nreturn {\n  status: 'success',\n  message: 'Transfer completed successfully',\n  customer: transferData.company_name,\n  phone: transferData.customer_phone\n};"
      },
      "id": "log-transfer",
      "name": "Log Transfer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}"
      },
      "id": "transfer-response",
      "name": "Transfer Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Transfer Webhook": {
      "main": [
        [
          {
            "node": "Extract Transfer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transfer Data": {
      "main": [
        [
          {
            "node": "Transfer Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Call": {
      "main": [
        [
          {
            "node": "Update Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status": {
      "main": [
        [
          {
            "node": "Notify Consultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Consultant": {
      "main": [
        [
          {
            "node": "Log Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Transfer": {
      "main": [
        [
          {
            "node": "Transfer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
